@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Source Code Pro Light'), local('SourceCodePro-Light'), url('../../fonts/SourceCodePro/SourceCodePro-Light.otf') format('opentype');
}
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Source Code Pro'), local('SourceCodePro-Regular'), url('../../fonts/SourceCodePro/SourceCodePro-Regular.otf') format('opentype');
}
.app {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
}
.app:before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -6;
    display: block;
    width: inherit;
    background-color: #f0f3f4;
    border: inherit;
    content: "";
}
.app.container {
    width: 1170px;
    padding-right: 0;
    padding-left: 0;
    box-shadow: 0 0 4px 3px rgb(0 0 0 / 5%);
}
.app-header-fixed {
    /* position: fixed;
    top: 0;
    width: 100%; */
    padding-top: 50px;
}
