#post-content h1, #post-content h2, #post-content h3, #post-content h4, #post-content h5, #post-content h6 {
    color: #666;
    line-height: 1.4;
    font-weight: 700;
    margin: 30px 0 10px 0;
}
#post-content h1, #post-content h2 {
    background: linear-gradient(to bottom,transparent 60%,rgba(189,202,219,.3) 0) no-repeat;
    width: auto;
    display: inline;
}
#post-content h2 {
    font-size: 24px;
}
.entry-content blockquote:first-child, .entry-content h2:first-child, .entry-content h3:first-child, .entry-content h4:first-child, .entry-content ol:first-child, .entry-content p:first-child, .entry-content pre:first-child, .entry-content ul:first-child, .entry-content>h1:first-child {
    margin-top: 0!important;
}
.single-post.panel {
    border-radius: 6px;
    border: none;
}
.wrapper-lg {
    padding: 30px;
}
.l-h-2x {
    line-height: 2em;
}
#comments pre, #post-content pre {
    padding: 0;
    border-radius: 0;
    overflow: hidden;
    position: relative;
}
#post-content .table-responsive, #post-content blockquote, #post-content ol, #post-content pre, #post-content ul {
    margin: 1.5em 0;
}
.well, pre {
    border: none #dee5e7;
    background-size: 30px,30px;
}
#post-content h1:nth-of-type(1)::before, #post-content h2:nth-of-type(1)::before {
    display: block;
    margin-top: 10px;
}
#post-content h1:before, #post-content h2:before {
    display: block;
    content: "";
    margin-top: 30px;
}
#post-content h1:after, #post-content h2:after {
    display: block;
    content: "";
    margin-bottom: 10px;
}
#post-content p {
    margin: 0 0 20px 0;
}
p {
    word-break: break-all;
}
.vditor-linenumber {
    padding-left: 4em!important;
    position: relative;
}
.hljs {
    padding: 15px!important;
}
.overflow-y-auto {
    overflow-y: auto!important;
}
pre code {
    display: block;
    overflow-x: auto;
    position: relative;
    margin: 0;
    padding: 15px;
}
pre code {
    white-space: pre;
    word-wrap: normal;
}
.vditor-linenumber__rows {
    position: absolute;
    pointer-events: none;
    top: 15px;
    left: 0;
    width: 3em;
    user-select: none;
    counter-reset: linenumber;
}
.vditor-linenumber__rows>span:before {
    counter-increment: linenumber;
    content: counter(linenumber);
    color: hsla(0,4%,60.4%,.38);
    display: block;
    padding-right: 1em;
    text-align: right;
}
.vditor-copy {
    position: relative;
    display: none;
    z-index: 1;
}
.vditor-copy span {
    cursor: pointer;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}
.vditor-copy svg {
    color: #586069;
    height: 14px;
    width: 14px!important;
    display: block;
}
/* 下一篇 */
.m-b-lg {
    margin-bottom: 30px;
}
.m-t-lg {
    margin-top: 30px;
}
.pager li>a, .pager li>span {
    border: none;
}
/* 评论 */
.m-b {
    margin-bottom: 15px;
}
.m-t-lg {
    margin-top: 30px;
}
.padder-v-sm {
    padding-top: 10px;
    padding-bottom: 10px;
}
label {
    font-weight: 400;
}
.text-danger {
    color: #f05050;
}
/* 评论框 */
#comment {
    resize: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 2px;
}
.form-control {
    border-color: rgba(135,150,165,.15);
    border-width: 1px;
    color: inherit;
}
.OwO {
    position: relative;
    user-select: none;
}
.OwO .OwO-logo {
    display: inline-block;
    padding: 0;
    width: 66px;
    height: 24px;
    color: #99a2aa;
    border-radius: 4px;
    position: relative;
    z-index: 101;
    font-size: 12px;
    text-align: center;
    line-height: 23px;
    margin-top: 3px;
    cursor: pointer;
    background: #fff;
}
.smile-icons svg {
    width: 16px;
    height: 16px;
    vertical-align: -5px;
}
.OwOlogotext {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-size: 12px!important;
}